.fa-bg-blue {
  background-color:#2370c2 !important;
  padding:0px 4px 0px 4px;
  color:white;
}

.fa-bg-red {
  background-color:#cc2900 !important;
  padding:0px 4px 0px 4px;
  color:white;
}

.fa-bg-green {
  background-color:#2eb82e !important;
  padding:0px 4px 0px 4px;
  color:white;
}

.fa-bg-yellow {
  background-color:#fff547 !important;
  padding:0px 4px 0px 4px;
}

.fa-bg-grey {
  background-color:#808080 !important;
  padding:0px 4px 0px 4px;
  color:white;
}

.fa-text-blue {
	color:#2370c2
}

.fa-text-red {
	color:#cc2900
}

.fa-text-green {
	color:#2eb82e
}

.fa-text-yellow {
	color:#fff547
}

.fa-text-grey {
	color:#808080
}
